* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 3% 0 3%;
  color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  color: #ffffff;
}

.nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav_items {
  margin-left: 2em;
}

#button1 {
  padding: 0.7em 0.8em;
  color: #006156;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

#button2 {
  padding: 0.7em 1em;
  color: #000000;
  background-color: #ffCE00;
  border: 1px solid #ffCE00;
  margin-left: 1em;
}

#button1, #button2 {
  border-radius: 5px;
}

.firstsection {
  color: #ffffff;
  background-image: url(https://images.ctfassets.net/pmphlmr7rdvc/sCnC5rEgRDygFcN4B7bEM/af7e3a7d985559c263b769cd8e1cb83d/home-hero-v2.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.dropdown {
  display: none;
}

.dropdown_nav:hover .dropdown {
  display: block;
  position: absolute;
  background-color: #ffffff;
  margin: 1em;
  color: #000000;
  border-radius: 10px;
  padding: 1em;
}

.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  color: #111827;
}

.dropdown svg {
  margin-right: 10px;
}

.first_main_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28% 40% 32%;
      grid-template-columns: 28% 40% 32%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8em;
}

.firstdivimg1 {
  width: 12em;
  height: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.firstdivimg1 > img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.firstdivimg2 {
  width: 8em;
  height: 8em;
}

.firstdivimg2 > img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.firstmain2 {
  text-align: center;
  margin-bottom: 10em;
}

.firstmain2 h1 {
  font-size: 3.5rem;
  word-wrap: break-word;
  font-weight: bold;
}

.firstmain2 p {
  font-size: 1.2rem;
  margin-top: 1em;
}

.firstmain2img {
  margin-top: 1.5rem;
}

.firstmain3 img {
  position: relative;
  right: 2em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.secondsection {
  z-index: 1;
  position: relative;
  background-image: url(https://www.mypatricia.co/_nuxt/fe78e083a17664d9e116c4fa6ace4f6b.svg);
  padding: 0 3%;
}

.secondsection h1 {
  font-size: 3.375rem;
  line-height: 3.875rem;
  width: 60%;
  word-wrap: break-all;
  color: #1D1E2C;
}

@media (min-width: 1280px) {
  .secondsection {
    padding: 10rem;
  }
}

@media (max-width: 768px) {
  .firstmain1 {
    display: none;
  }
  .firstmain3 {
    display: none;
  }
  .firstmain2 {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */